<p>admin works!</p>

<div class="container">

    <!--Flight edit-->
    <div class="cnt-flight-manage">
        <p>Flight Number</p>
        <input type="text">
        <p>Origin</p>
        <input type="text">
        <p>Destination</p>
        <input type="text">
        <p>Depart date</p>
        <input type="datetime-local">
        <p>Arrive date</p>
        <input type="datetime-local">
        <p>Nonstop</p>
        <input type="button" value="On">
    </div>

    <!--Flights crud table-->
    <div class="cnt-flight-crud">
        <table class="tbl_flights">

            <!--Table header-->
            <tr>
                <th>Number</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Depart</th>
                <th>Arrive</th>
                <th>Nonstop</th>
            </tr>
        </table>
    </div>
</div>