body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: url("assets/mountains.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

header {
    width: 100vw;
    height: 100px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .logo_box {
        background-image: url("assets/TsFlightsLogo.jpg");
        height: 80px;
        width: 250px;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 150px 20px;
        align-items: flex-start;
        @media screen and (max-width: 497px) {
            width: 200px;
            margin-left: 4px;
            margin-top: 7px;
        }
    }
    .link_box {
        height: 80px;
        margin: 10px;
        align-self: flex-end;
        border: 1px dotted grey;
    }
}

.tbl_flights {
    width: 100%;
    background-color: white;
    text-align: center;
}

.tbl_boolean {
    text-align: center;
    border-radius: 20px;
    padding: 5px;
}

.yes {
    background-color: green;
}

.no {
    background-color: red;
}